<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title><b>{{ 'groups.new.title' | translate }}</b></ion-title>
    <ion-buttons start>
      <button ion-button tappable (click)="navCtrl.pop()"><ion-icon name="icon-close"></ion-icon></button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button tappable (click)="done()" *ngIf="members && members.length > 1" [disabled]="!network.online()"><ion-icon name="icon-check"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content [ngClass]="{'android': android}">
  <!-- No contacts yet -->
  <div text-center class="empty" *ngIf="!contacts">
    <ion-icon name="icon-empty-03"></ion-icon>
    <h2><b>{{ 'contact.main.empty.nocontacts.title' | translate }}</b></h2>
    <p>{{ 'chats.new.empty.nocontacts.text' | translate }}</p>
    <button ion-button color="dark" (click)="viewCtrl.dismiss({ viewContacts: true })" [disabled]="!network.online()"><b>{{ 'chats.new.empty.nocontacts.button' | translate }}</b></button>
  </div>
  <!-- No contact found with filter -->
  <div text-center class="empty" *ngIf="(contacts | usersFilter: [excludedIds, searchUser])?.length == 0">
    <ion-icon name="icon-empty-02"></ion-icon>
    <h2><b>{{ 'contact.main.empty.nocontactfound.title' | translate }}</b></h2>
    <p>{{ 'contact.main.empty.nocontactfound.text' | translate }}</p>
  </div>
  <ion-searchbar [(ngModel)]="searchUser" [placeholder]="translate.get('home.search')"></ion-searchbar>
  <ion-list [virtualScroll]="contacts | usersFilter: [excludedIds, searchUser]" [headerFn]="header" approxItemHeight="60px">
    <ion-item-divider *virtualHeader="let header"><b>{{ translate.get('home.user') }}</b></ion-item-divider>
    <ion-item no-lines *virtualItem="let user" tappable (click)="toggle(user.userId)">
      <ion-avatar item-start>
        <img-loader [src]="user?.photo"></img-loader>
      </ion-avatar>
      <h2 text-uppercase>{{ user?.firstName }} {{ user?.lastName }}</h2>
      <p text-lowercase>{{ user?.username }}</p>
      <button ion-button item-end (click)="add(user.userId); $event.stopPropagation();" *ngIf="members.indexOf(user.userId) == -1" [disabled]="!network.online()"><ion-icon name="icon-add"></ion-icon></button>
      <button ion-button item-end color="dark" (click)="remove(user.userId); $event.stopPropagation();" *ngIf="members.indexOf(user.userId) > -1" [disabled]="!network.online()"><ion-icon name="icon-close"></ion-icon></button>
    </ion-item>
  </ion-list>
</ion-content>
