<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title><b>{{ 'contact.search.title' | translate }}</b></ion-title>
    <ion-buttons start>
      <button ion-button tappable (click)="navCtrl.pop()"><ion-icon name="icon-close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content [ngClass]="{'android': android}">
  <!-- No users found with filter -->
  <div text-center class="empty" *ngIf="(users | usersFilter: [excludedIds, searchUser])?.length == 0">
    <ion-icon name="icon-empty-02"></ion-icon>
    <h2><b>{{ 'contact.search.empty.nouserfound.title' | translate }}</b></h2>
    <p>{{ 'contact.search.empty.nouserfound.text' | translate }}</p>
  </div>
  <!-- No more users found -->
  <div text-center class="empty" *ngIf="users?.length == excludedIds?.length">
    <ion-icon name="icon-empty-01"></ion-icon>
    <h2><b>{{ 'contact.search.empty.nousers.title' | translate }}</b></h2>
    <p>{{ 'contact.search.empty.nousers.text' | translate }}</p>
  </div>
  <ion-searchbar [(ngModel)]="searchUser" [placeholder]="translate.get('home.search')"></ion-searchbar>
  <ion-list [virtualScroll]="users | usersFilter: [excludedIds, searchUser]" [headerFn]="header" approxItemHeight="60px">
    <ion-item-divider *virtualHeader="let header"><b>{{ translate.get('home.user') }}</b></ion-item-divider>
    <ion-item no-lines *virtualItem="let user" tappable (click)="viewProfile(user.userId)">
      <ion-avatar item-start>
        <img-loader [src]="user?.photo"></img-loader>
      </ion-avatar>
      <h2 text-uppercase>{{ user?.firstName }} {{ user?.lastName }}</h2>
      <p text-lowercase>{{ user?.username }}</p>
      <button ion-button item-end (click)="sendRequest(user); $event.stopPropagation();" *ngIf="getRequestStatus(user) == 0" [disabled]="!network.online()"><ion-icon name="icon-add-user"></ion-icon></button>
      <button ion-button item-end color="dark" (click)="cancelRequest(user.userId); $event.stopPropagation();" *ngIf="getRequestStatus(user) == 1" [disabled]="!network.online()"><ion-icon name="icon-close"></ion-icon></button>
      <button ion-button item-end color="dark" *ngIf="getRequestStatus(user) == 2" (click)="rejectRequest(user.userId); $event.stopPropagation();" [disabled]="!network.online()"><ion-icon name="icon-close"></ion-icon></button>
      <button ion-button item-end *ngIf="getRequestStatus(user) == 2" (click)="acceptRequest(user); $event.stopPropagation();" [disabled]="!network.online()"><ion-icon name="icon-check"></ion-icon></button>
    </ion-item>
  </ion-list>
</ion-content>
