<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title *ngIf="title"><b>{{ title }}</b></ion-title>
    <ion-buttons start>
      <button ion-button tappable (click)="navCtrl.pop()"><ion-icon name="icon-close"></ion-icon></button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button tappable (click)="viewGroup(group.groupId)" *ngIf="group"><ion-icon name="icon-config"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher *ngIf="group" (ionRefresh)="onRefresh($event)" [enabled]="messagesToShow < group.messages.length" snapbackDuration="500" closeDuration="500">
    <ion-refresher-content pullingIcon="none"
      pullingText=""
      refreshingSpinner="circles"
      refreshingText=""></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="group" no-margin no-padding>
    <ion-row *ngFor="let message of group.messages | slice:from:group.messages.length; last as last; index as index" tappable (click)="toggleDate(index, last)">
      <ion-col class="profile" col-2 text-center *ngIf="message.sender != auth.getUserData().userId && members.get(message.sender)" tappable (click)="viewProfile(message.sender); $event.stopPropagation();"><img-loader [src]="members.get(message.sender).photo"></img-loader></ion-col>
      <ion-col class="message" col-10 *ngIf="message.sender != auth.getUserData().userId && members.get(message.sender)">
        <p text-wrap float-left *ngIf="message.type == 0">{{ members.get(message.sender).firstName }}: {{ message.message }}</p>
        <img-loader fallback="assets/images/image.png" float-left *ngIf="message.type == 1" class="message" [src]="message.message" tappable (click)="viewImage(message.message)"></img-loader>
      </ion-col>
      <ion-col class="sender" *ngIf="message.sender == auth.getUserData().userId">
        <p text-wrap float-right *ngIf="message.type == 0">{{ message.message }}</p>
        <img-loader fallback="assets/images/image.png" float-right *ngIf="message.type == 1" class="message" [src]="message.message" tappable (click)="viewImage(message.message)"></img-loader>
      </ion-col>
      <ion-col col-12 class="date" *ngIf="toggleDates[index]">
        <p class="other" *ngIf="message.sender != auth.getUserData().userId" text-left>{{ message.date | fromNow }}</p>
        <p *ngIf="message.sender == auth.getUserData().userId" text-right>{{ message.date | fromNow }}</p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer [ngClass]="{'iPhoneX': iPhoneX, 'android': android}">
  <div>
    <ion-textarea #messageBox id="messageBox" fz-elastic type="text" [placeholder]="translate.get('chats.message.write')" [(ngModel)]="message" rows="1" (keydown)="keyDownFunction($event)" (ionBlur)="onBlur()" (ionFocus)="onFocus()"></ion-textarea>
    <button ion-button icon-only clear (click)="attach()" *ngIf="!message" [disabled]="!network.online()"><ion-icon name="icon-attach"></ion-icon></button>
    <button ion-button icon-only clear (click)="send()" *ngIf="message" [disabled]="!network.online()"><ion-icon name="icon-send"></ion-icon></button>
  </div>
</ion-footer>
