<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title *ngIf="group"><b>{{ group.title }}</b></ion-title>
    <ion-buttons start>
      <button ion-button tappable (click)="navCtrl.pop()"><ion-icon name="icon-close"></ion-icon></button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button tappable (click)="modalCtrl.create('AddMemberPage', { groupId: groupId }).present()" [disabled]="!network.online()"><ion-icon name="icon-add-user"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-searchbar [(ngModel)]="searchUser" [placeholder]="translate.get('home.search')"></ion-searchbar>
  <ion-list class="users" [virtualScroll]="users | usersFilter: [excludedIds, searchUser]" [headerFn]="header" approxItemHeight="60px">
    <ion-item-divider *virtualHeader="let header"><b>{{ 'group.members' | translate }}</b></ion-item-divider>
    <ion-item no-lines *virtualItem="let user" tappable (click)="viewProfile(user.userId)">
      <ion-avatar item-start>
        <img-loader [src]="user?.photo"></img-loader>
      </ion-avatar>
      <h2 text-uppercase>{{ user?.firstName }} {{ user?.lastName }}</h2>
      <p text-lowercase>{{ user?.username }}</p>
      <button ion-button item-end color="dark" (click)="remove(user); $event.stopPropagation();" *ngIf="user?.userId != auth.getUserData().userId" [disabled]="!network.online()"><ion-icon name="icon-close"></ion-icon></button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer [ngClass]="{'iPhoneX': iPhoneX}">
  <div text-center>
    <button ion-button color="primary" (click)="modalCtrl.create('AddMemberPage', { groupId: groupId }).present()" [disabled]="!network.online()"><b>{{ 'group.add.members' | translate }}</b></button>
  </div>
</ion-footer>
