<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title *ngIf="user"><b>{{ user.firstName }} {{ user.lastName }}</b></ion-title>
    <ion-buttons start>
      <button ion-button tappable (click)="navCtrl.pop()"><ion-icon name="icon-close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="user">
    <ion-item class="profile" no-lines>
      <ion-avatar item-start>
        <img-loader [src]="user.photo"></img-loader>
      </ion-avatar>
      <h2 text-uppercase>{{ user.firstName }} {{ user.lastName }}</h2>
      <p text-lowercase *ngIf="getRequestStatus(user) == 0 || getRequestStatus(user) == 3 || getRequestStatus(user) == -1">{{ user.username }}</p>
      <p text-lowercase *ngIf="getRequestStatus(user) == 1">{{ 'contact.request.sent' | translate }}</p>
      <p text-lowercase *ngIf="getRequestStatus(user) == 2">{{ 'contact.request.received' | translate }}</p>
      <button ion-button item-end (click)="sendRequest(user); $event.stopPropagation();" *ngIf="getRequestStatus(user) == 0" [disabled]="!network.online()"><ion-icon name="icon-add-user"></ion-icon></button>
      <button ion-button item-end color="dark" (click)="cancelRequest(user.userId); $event.stopPropagation();" *ngIf="getRequestStatus(user) == 1" [disabled]="!network.online()"><ion-icon name="icon-close"></ion-icon></button>
      <button ion-button item-end color="dark" *ngIf="getRequestStatus(user) == 2" (click)="rejectRequest(user.userId); $event.stopPropagation();" [disabled]="!network.online()"><ion-icon name="icon-close"></ion-icon></button>
      <button ion-button item-end *ngIf="getRequestStatus(user) == 2" (click)="acceptRequest(user); $event.stopPropagation();" [disabled]="!network.online()"><ion-icon name="icon-check"></ion-icon></button>
      <button ion-button item-end (click)="message(user.userId); $event.stopPropagation();" *ngIf="getRequestStatus(user) == 3" [disabled]="!network.online()"><ion-icon name="icon-message"></ion-icon></button>
    </ion-item>
    <ion-list no-margin>
      <ion-list-header>
        <b>{{ 'profile.about' | translate }}</b>
      </ion-list-header>
      <p class="bio">{{ user.bio }}</p>
    </ion-list>
    <ion-list [virtualScroll]="contacts" [headerFn]="header" approxItemHeight="60px" style="margin-top: 0.5vh">
      <ion-item-divider *virtualHeader="let header"><b>{{ 'profile.contacts' | translate }}</b></ion-item-divider>
      <ion-item no-lines *virtualItem="let user" tappable (click)="setUser(user.userId)">
        <ion-avatar item-start>
          <img-loader [src]="user?.photo"></img-loader>
        </ion-avatar>
        <h2 text-uppercase>{{ user?.firstName }} {{ user?.lastName }}</h2>
        <p text-lowercase>{{ user?.username }}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
